/* public/styles.css */
body {
  font-family: Arial, sans-serif;
  background-image: url("https://images.cointelegraph.com/cdn-cgi/image/format=auto,onerror=redirect,quality=90,width=1434/https://s3.cointelegraph.com/uploads/2023-04/fa3a91c9-1d0e-48aa-87e3-89b7e2600890.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  background-color: #26d4b4;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: hwb(162 93% 3%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

#errorMessage {
  text-align: center;
  margin-top: 10px;
}

.error {
  color: red;
  font-size: 12px;
  display: none;
}

.error.show {
  display: block;
}
